@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');


li#index  { color:purple; font-weight: bold;} 


.bebas-header {
    font-family: bebas-neue, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.3vw;
}


.bebas-regular {
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quicksand-bold {
    font-family: quicksand, sans-serif;
    font-weight: 700;
    font-style: normal;
}



.lato-regular {
    font-family: lato,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: lato,sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-mid {
    font-family: lato,sans-serif;
    font-weight: 700;
    font-style: normal;
}


.font-family-karla {
    font-family: karla;
}

/* height and width */

.h-problem {
    height: 37vw;
}

.bg-primary{
    background: #732867;
}
.bg-footer{
    background: #F1F1F1;
}
.bg-midbar{
    background: #F2F4E8;
}

.bg-midbar2{
    background: #6F8A6B;
}

.bg-midbar3{
    background: #FBFCF5;
}

.bg-problem {
    background: #7F9A3C;
}


.text-primary2{
    color: #52796F;
}
.text-primary3{
    color: #6F8A6B;
}
.text-primary4{
    color: #013A51;
}
.text-lightgray{
    color: #859EA8;
}

.text-orange {
    color: #FFA866;
}

/* padding and margins */

.pbottom-small {
    padding-bottom: 0.7vw;
}

.ptop-large{
    padding-top: 10vw;
}

.ptop-small{
    padding-top: 2vw;
}

.ptop-medium{
    padding-top: 7vw;
}

.px-small{
    padding-left: 2vw;
    padding-right: 2vw;

}


.mtop-large {
    margin-top: 12vw;
}

/* text sizing */

.text-paragraph{
    font-size: 1.2vw;
    line-height: 1.8vw; /* 32px */
}

.text-paragraph-small{
    font-size: 1vw;
    line-height: 1.5vw; /* 32px */
}

.text-missionHeader{
    font-size: 2vw;
    line-height: 3vw; /* 32px */
}

.text-mainHeader{
    font-size: 5.5vw;
    line-height: 5vw;
}
.text-mainHeader2{
    font-size: 2vw;
    line-height: 2.3vw;
}
.text-sideHeader{
    font-size: 3vw;
    line-height: 2.5vw;
}

.text-sideHeader2{
    font-size: 1.55vw;
    line-height: 2vw;
}

.text-sideHeader3{
    font-size: 1.7vw;
    line-height: 2.1vw;
    letter-spacing: .01vw;
}

.text-icons{
    font-size: 1vw;
    line-height: 1.4vw; /* 32px */
    padding-left: 3vw;
}

.text-iconsHeader {
    font-size: 1.7vw;
    line-height: 1.4vw; /* 32px */
    color: #6F8A6B;
    padding-left: 3vw;
}

.text-processingHeader {
    font-size: 3vw;
    margin-right: 6vw;
    line-height: 3.5vw;
}

.icons-dimensions{
    height:8vw;
    width:7.5vw;
}


.icons-dimensions2{
    height: 8vw;
    width: 9vw;
}

.icons-dimensions3{
    height: 7vw;
    width: 7.8vw;
}

.greenBtn {
    height: 2vw;
    width: 2vw;
}


.margins-image {
    margin-right: 5vw;
}

.padding-header {
    padding-top: 10vw;
    padding-bottom: 3vw;
}

.padding-mid {
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.main-margin {
    margin-right: 10vw;
    margin-left: 10vw;
}
.nav-margin {
    margin-right: 6vw;
    margin-left: 6vw;
}

.section-padding {
    padding-top: 10vw;
    padding-bottom: 10vw;
}

.section-padding2 {
    padding-top: 7vw;
    padding-bottom: 7vw;
}



.mission-margin {
    margin-right: 15vw;
    margin-left: 15vw;
}

.text-nav {
    font-size: .8vw;
    line-height: .5vw;
}

.letter-spacing {
    letter-spacing: .2vw;
}

.letter-spacing2 {
    letter-spacing: .15vw;
}

#gender {
    height: 25vw;
    width: 40vw;
}
#hands {
    height: 28vw;
    width: 30vw;
}

/* for footer and header */

#logo {
    height: 3.5vw;
    width: 3.5vw;
    margin-top: .5vw;
    margin-bottom: .5vw;
}

#logo2 {
    height: 3vw;
    width: 8vw;
    margin-top: 2vw;
    margin-right: 2vw;
}

#logo3 {
    height: 6vw;
    width: 4vw;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}




.text-primary {
    cursor: pointer;
    /* Fallback: Set a background color. */
    background-color: #FD9A23;
    
    /* Create the gradient. */
     background-image: linear-gradient(
          45deg,
          #FD9A23 25%, 
          #FAB124 25%, 
          #FAB124 50%, 
          #FCCF3F 50%, 
          #FCCF3F 75%, 
          #FFE078 75%
          );
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    /* Animate the text when loading the element. */
      /* This animates it on page load and when hovering out. */
      animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
  
  }
  
  .text-primary:hover{
      animation: rainbow-text-simple-animation 0.5s ease-in forwards;
  }
  
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-simple-animation-rev {
      0% {
          background-size: 650%;
      }
      40% {
          background-size: 650%;
      }
      100% {
          background-size: 100%;
      }
  }
  
  /* Move the background and make it larger. */
  /* Animation shown when hovering over the text. */
  @keyframes rainbow-text-simple-animation {
      0% {
          background-size: 100%;
      }
      80% {
          background-size: 650%;
      }
      100% {
          background-size: 650%;
      }
  }

/* For library logos */

#logo-grid {
    padding-top: 1.5vw;
  }


#logo-grid > a {
    background: #FFA866;
    position: relative;
    border-radius: 0.75vw;
  }



#logo-grid > a::before {
    content: "";
    padding-bottom: 100%;
    display: block;
}

#logo-grid > a > img {
    position: absolute;
    padding: 0.5vw;
    max-width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.image__text {
    border-radius: 0.75vw;
    position: absolute;
    padding: 0.5vw;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__text > * {
    transform: translateY(1vw);
    transition: transform 0.25s;
}

.image__text:hover{
    opacity: 1;
}

.image__text:hover > *{
    transform: translate(0);
}

.small_logo_text{
    font-size: 0.8vw;
    line-height: 0.8vw;

}


/* Main gradient */
#MainGradient {
    z-index: 0;
    height: 45vw;
}


.MainCircle1 {
    height: 30vw;
    width: 29vw;
    left: 15vw;
    top: 7vw;
    animation: bounce2 7s forwards infinite alternate;
    opacity: 1;

}

.MainCircle2 {
    height: 10vw;
    width: 10vw;
    right: 20vw;
    top: 1vw;
    animation: bounce2 7s forwards infinite alternate;

}

.MainCircle3 {
    height: 16vw;
    width: 16vw;
    right: 20vw;
    top: 25vw;
    animation: bounce1 10s forwards infinite;
}

@keyframes bounce2 {
    0% {
        transform: translateX(0);
        transform: translateY(0);

    }
    33% {
        transform: translateX(-10%);
        transform: translateY(-5%);
        transform: scaleY(1.1)
    }
    66% {
        transform: translateX(10%);
        transform: translateY(5%);
    }
}

@keyframes bounce1 {
    0% {
        transform: translateX(0);
        transform: translateY(0);

    }
    25% {
        transform: translateX(5%);
        transform: translateY(10%);

    }
    50% {
        transform: translateX(-5%);
        transform: translateY(-10%);
        transform: scaleX(1.2);

    }
    75% {
        transform: translateX(-5%);
        transform: translateY(-10%);
    }
    
}

/* Data Analysis */
#cardImg1 {
    height: 13vw;
    width: 13vw;
    margin-top: -4vw;

}
#cardImg2 {
    height: 15vw;
    width: 30vw;
    margin-top: -4vw;
}
#cardImg3 {
    height: 15vw;
    width: 18vw;
    margin-top: -4vw;
    margin-left: 2vw;
}

.card-hover {
    transition: transform .2s, box-shadow .4s;
}

.card-hover:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0.2vw 0.2vw 0.4vw 0.2vw #FFD468, 
    -0.2vw -0.2vw 0.4vw 0.2vw #FFE078;
}

.card-padding {
    padding-left: 3vw;
    padding-right: 3vw;
}

/* Loading in Images */

.reveal{
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-in {
    animation: fade-in 1.2 ease-in;
}

.active.fade-bottom {
    animation: fade-bottom 1.2s ease-in;
}

.active.fade-left {
    animation: fade-left 1.2s ease-in;
}
  
.active.fade-right {
    animation: fade-right 1.2s ease-in;
}

.header-animation {
    animation: fade-bottom 1.2s ease-in;
}


@keyframes fade-bottom {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }



