.navbar {
    top: 0;
  }

nav {
    --text: #f4f4f4;
    --text-inverse: #333;
    --background: transparent;

    background: var(--background);
    color: var(--text);
    transition: background 250ms ease-in;
    transition: padding 0.2s ease-in;
    padding: 30px 75px;
    padding-bottom: 8px;
}

.nav-scrolled {
    --text: #333;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    padding: 5px 75px;
  }