img {
    height: 100%;
}

#strudel-logo {
    height: 40px;
}

#coex-logo {
    height: 55px;
}

.footer {
    height: 65px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: white;
}

.logo-container {
    width: calc(100% - 24px);
    margin-right: 24px;
    justify-content: right;
}