@import url(//db.onlinewebfonts.com/c/543092172c7d9a62dc51fa0fc510b6cf?family=Everett+Regular);
@font-face {
  font-family: "Everett Regular";
  src: url("//db.onlinewebfonts.com/t/543092172c7d9a62dc51fa0fc510b6cf.eot");
  src: url("//db.onlinewebfonts.com/t/543092172c7d9a62dc51fa0fc510b6cf.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/543092172c7d9a62dc51fa0fc510b6cf.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/543092172c7d9a62dc51fa0fc510b6cf.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/543092172c7d9a62dc51fa0fc510b6cf.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/543092172c7d9a62dc51fa0fc510b6cf.svg#Everett Regular") format("svg");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
